
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div>

<p class ="text-center">
    Welcome to the shoe store! <br/>
    <b>A Good Starting Point would be going to our "Shop" page.</b>
</p>
<br />
<br />


<p>
    <br />
    <b>Here are some test accounts you can use with our site, or you can create your own.</b>
    <br />
    <br />
    Username: user0<br />
    Password: password0<br />
    <br />
    Username: user1<br />
    Password: password1<br />
    <br />
    Username: user2<br />
    Password: password2<br />
    <br />
    Username: manager1<br />
    Password: passwordmanager<br />
</p>